@import "./theme.css";

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: var(--bg);
    color: var(--text);
    border-bottom: 1px solid #444;
}

.dashboard-header.light {
    background-color: var(--bg);
    color: var(--text);
    border-bottom: 1px solid #ccc;
}

.theme-toggle {
    background: var(--text);
    color: var(--bg);
    border: 1px solid currentColor;
    padding: 0.4rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
}

/* App Theme */
.dark-mode {
    background-color: #1e1e1e;
    color: #fff;
}

.light-mode {
    background-color: #fff;
    color: #000;
}
